{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "quotes": ["warn", "double"],
    "object-curly-spacing": ["warn", "always"],
    "semi": ["warn", "always"],
    "comma-dangle": ["warn", "only-multiline"],
    "arrow-parens": ["warn", "always"],
    "indent": "off",
    "generator-star-spacing": "off"
  }
}
